@{
    Layout = "_Layout";
}
@model ProdIndexViewModel



<!-- TABELLA -->
<div class="ms_table">
    <h2>Cibo in frigo</h2>
</div>

<div class="text-center mt-4 mb-4 W">
    <a class=" btn btn-success " href="@Url.Action("ProdCreate")">Aggiungi nuovo prodotto</a>
</div>

<div class="p-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome:</th>
                <th scope="col">Descrizione:</th>
                <th scope="col">Categoria:</th>
                <th scope="col">Collocamento:</th>
                <th scope="col">Proprietario/a:</th>

            </tr>
        </thead>
        <tbody>
            
            <!-- Visualizza solo i prodotti dell'utente autenticato -->
            @if (User.Identity.IsAuthenticated)
            {
                <h2>Il tuoi Prodotti in Frigo</h2>

                foreach (var userProd in Model.UserProds)
                {
                    <tr>
                        <th scope="row">@userProd.Id</th>
                        <td><p>@userProd.Name</p></td>
                        <td><p>@userProd.Description</p></td>
                        <td>
                            @if (userProd.Categories != null && userProd.Categories.Count > 0)
                            {
                                <ul>
                                    @foreach (Category category in userProd.Categories)
                                    {
                                        <li>@category.Name</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <span>Non è stata ancora compilata la lista delle categorie</span>
                            }
                        </td>

                        <td><p>@userProd.LocationName</p></td>

                        <td><p>@userProd.OwnerId</p></td>


                        <td>
                            <a class="btn btn-warning" href="@Url.Action("ProdUpdate", "FridgeProd", new { id = userProd.Id })" title="Prod update">AGGIORNA</a>
                        </td>

                        <td>
                            <form asp-controller="FridgeProd" asp-action="Delete" asp-route-id="@userProd.Id" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
                            </form>
                        </td>
                    </tr>
                } 
            }
            else
            {
                <h2>Tutti i Prodotti in Frigo</h2>

                <!-- Visualizza TUTTI i prodotti -->
                @foreach (var prod in Model.AllProds)
                {
                    <tr>
                        <th scope="row">@prod.Id</th>
                        <td><p>@prod.Name</p></td>
                        <td><p>@prod.Description</p></td>
                        <td>
                            @if (prod.Categories != null && prod.Categories.Count > 0)
                            {
                                <ul>
                                    @foreach (Category category in prod.Categories)
                                    {
                                        <li>@category.Name</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <span>Non è stata ancora compilata la lista delle categorie</span>
                            }
                        </td>

                        <td><p>@prod.LocationName</p></td>

                        <td><p>@prod.OwnerId</p></td>


                        <td>
                            <a class="btn btn-warning" href="@Url.Action("ProdUpdate", "FridgeProd", new { id = prod.Id })" title="Prod update">AGGIORNA</a>
                        </td>

                        <td>
                            <form asp-controller="FridgeProd" asp-action="Delete" asp-route-id="@prod.Id" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
                            </form>
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>
