@{
    ViewData["Title"] = "Prduct Page";
    Layout = "_Layout";
}
@model List<FridgeProd>

<!-- TABELLA -->
<div class="ms_table">
    <h2>Cibo in frigo</h2>
</div>

<div class="text-center mt-4 mb-4 W">
    <a class=" btn btn-success " href="@Url.Action("ProdCreate")">Aggiungi nuovo prodotto</a>
</div>

<div class="p-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome:</th>
                <th scope="col">Descrizione:</th>
                <th scope="col">Categoria:</th>
                <th scope="col">Collocamento:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FridgeProd fridgeProd in Model)
            {
                <tr>
                    <th scope="row">@fridgeProd.Id</th>
                    <td><p>@fridgeProd.Name</p></td>
                    <td><p>@fridgeProd.Description</p></td>
                    <td>
                        @if (fridgeProd.Categories != null && fridgeProd.Categories.Count > 0)
                        {
                            <ul>
                                @foreach (Category category in fridgeProd.Categories)
                                {
                                    <li>@category.Name</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>Non è stata ancora compilata la lista delle categorie</span>
                        }
                    </td>

                    <td><p>@fridgeProd.Location</p></td>

                    <td>
                        <form asp-controller="FridgeProd" asp-action="Delete" asp-route-id="@fridgeProd.Id" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
                        </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
