@{
    ViewData["Title"] = "Home Page";
}
@model List<FridgeProd>

<!-- TABELLA -->
<div class="ms_table">
    <h2>Cibo in frigo</h2>
</div>

<div class="p-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome:</th>
                <th scope="col">Descrizione:</th>
                <th scope="col">Categoria:</th>
                <th scope="col">Collocamento:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FridgeProd fridgeProd in Model)
            {
                <tr>
                    <th scope="row">@fridgeProd.Id</th>
                    <td><p>@fridgeProd.Name</p></td>
                    <td><p>@fridgeProd.Description</p></td>
                    <td>
                        @if (fridgeProd.Categories != null && fridgeProd.Categories.Count > 0)
                        {
                            <ul>
                                @foreach (Category category in fridgeProd.Categories)
                                {
                                    <li>@category.Name</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>Non è stata ancora compilata la lista delle categorie</span>
                        }
                    </td>

                    <td><p>@fridgeProd.Location</p></td>

                </tr>
            }
        </tbody>
    </table>
</div>
